# Sesi 1

Introduction, Data Types, and Variables

## Integers

In [2]:
print("Hello Python")

Hello Python

In [3]:
print(3)

3

In [4]:
print(type(4))

<class 'int'>

## Floating Point

In [5]:
print(4.2)

4.2

In [6]:
print(4.)

4.0

In [7]:
print(.2)

0.2

In [8]:
print(.4e7)

4000000.0

In [9]:
print(4.2e-4)

0.00042

In [10]:
print(type(4.2))

<class 'float'>

## String

In [11]:
print('via')

via

In [12]:
print(type('hacktiv8'))

<class 'str'>

In [13]:
print(type(4.2))
print(type('4.2'))

<class 'float'>
<class 'str'>

## Boolean

In [15]:
print(True)
print(False)

True
False

In [16]:
print(type(True))
print(type('True'))

<class 'bool'>
<class 'str'>

## Variables

In [17]:
kotak_donat = 5

In [18]:
print(kotak_donat)

5

In [19]:
kotak_donat = 7
print(kotak_donat)

7

In [20]:
kotak_1 = kotak_2 = kotak_3 = 4
print(kotak_1, kotak_2, kotak_3)

4 4 4

In [21]:
kotak_donat

7

## Arithmetic Operators

In [22]:
a = 5
b = 2

In [24]:
a / b

2.5

In [25]:
a % b

1

## Comparison Operators

In [26]:
a == b

False

In [27]:
a > b

True

In [28]:
a != b

True

In [29]:
a <= b

False

In [30]:
a >= b

True

## String Manipulation

In [31]:
c = 'foo'
d = 'bar'

In [32]:
c + d

'foobar'

In [33]:
print('Hacktiv ' + 'GIT')

Hacktiv GIT

In [35]:
c * 4

'foofoofoofoo'

In [36]:
c in 'That food is mine'

True

In [37]:
c in d

False

In [39]:
'foo' in 'That is good for us'

False

In [41]:
z = 'HackTIV8 jakarta'

print(z.capitalize())

Hacktiv8 jakarta

In [42]:
z.lower()

'hacktiv8 jakarta'

In [43]:
z.upper()

'HACKTIV8 JAKARTA'

In [44]:
z.swapcase()

'hACKtiv8 JAKARTA'

In [45]:
z.title()

'Hacktiv8 Jakarta'

## List

In [46]:
barangDiKamar = ['kasur', 'meja', 'lukisan', 'lampu']

In [47]:
barangDiKamar

['kasur', 'meja', 'lukisan', 'lampu']

In [51]:
barangDiKamar[1:3]

['meja', 'lukisan']

In [53]:
a = [21.41, 'foo', 3, False]
print(a)

[21.41, 'foo', 3, False]

In [54]:
barangDiKamar[-1]

'lampu'

In [56]:
barangDiKamar[-3]

'meja'

In [58]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [59]:
a[2:5]

['baz', 'qux', 'quux']

In [60]:
a[2:6]

['baz', 'qux', 'quux', 'corge']

In [61]:
a[3:]

['qux', 'quux', 'corge']

In [62]:
a[:3]

['foo', 'bar', 'baz']

In [63]:
barangDiKamar + ['kulkas', 'lemari']

['kasur', 'meja', 'lukisan', 'lampu', 'kulkas', 'lemari']

In [64]:
barangDiKamar*2

['kasur', 'meja', 'lukisan', 'lampu', 'kasur', 'meja', 'lukisan', 'lampu']

In [70]:
barangDiKamar.append(3)
print(barangDiKamar)

['kasur', 'meja', 'lukisan', 'lampu', 3, 3, 3, 3]

In [71]:
len(barangDiKamar)

8

In [72]:
min(barangDiKamar)

TypeError: '<' not supported between instances of 'int' and 'str'

In [73]:
del barangDiKamar[4:]

In [74]:
barangDiKamar

['kasur', 'meja', 'lukisan', 'lampu']

In [75]:
max(barangDiKamar)

'meja'

In [76]:
min(barangDiKamar)

'kasur'

## Tuples

In [82]:
namaBulanAwal = ('Januari', 'Februari', 'Maret')

In [83]:
namaBulanAwal

('Januari', 'Februari', 'Maret')

In [84]:
namaBulanAwal[1] = 'April'

TypeError: 'tuple' object does not support item assignment

## Dictionary

In [85]:
identitas = {'nama': 'via',
             'alamat':'Klaten', 
             'email': 'mail@mail.com'}

In [86]:
identitas

{'nama': 'via', 'alamat': 'Klaten', 'email': 'mail@mail.com'}

In [87]:
identitas['alamat']

'Klaten'

In [88]:
identitas['noHP'] = '08111111'

In [89]:
identitas

{'nama': 'via',
 'alamat': 'Klaten',
 'email': 'mail@mail.com',
 'noHP': '08111111'}

In [90]:
identitas['noHP']

'08111111'

In [91]:
# delete value
del identitas['noHP']

In [92]:
identitas

{'nama': 'via', 'alamat': 'Klaten', 'email': 'mail@mail.com'}

In [93]:
identitas.items()

dict_items([('nama', 'via'), ('alamat', 'Klaten'), ('email', 'mail@mail.com')])

In [94]:
identitas.keys()

dict_keys(['nama', 'alamat', 'email'])

In [95]:
identitas.values()

dict_values(['via', 'Klaten', 'mail@mail.com'])

In [5]:
import pickle

load_model = pickle.load(open('model_kmeans.sav', 'rb'))

In [6]:
load_model.predict([[1,1,1,1,1,1,1,1]])

array([0])